body{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    background-color: white;
}
.row1{     
    width: 100%;
    height: 20px;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.box1row1{
    width: 80%;
    height: 20px;
    background-color: rgb(76, 172, 76);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.box2row1{
    width: 20%;
    height: 20px;
    background-color: rgb(85, 85, 172);
    display: flex;
    flex-direction: row;
}
.row2{     
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.box1row2{
    width: 33%;
    height: 50px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.box2row2{
    width: 33.5%;
    height: 25px;
    background-color: rgb(255, 94, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box3row2{
    width: 33.5%;
    height: 25px;
    background-color: rgb(138, 132, 128);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.row3{
    width: 100%;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.box1row3{
    width: 33%;
    height: 25px;
    background-color: red;
    display: flex;
    flex-direction: row;
}
.box2row3{
    width: 22%;
    height: 25px;
    background-color: rgb(255, 238, 0);
    display: flex;
    flex-direction: row;

}
.box3row3{
    width: 22%;
    height: 25px;
    background-color: rgb(54, 146, 95);
    display: flex;
    flex-direction: row
    
}
.box4row3{
    width: 23%;
    height: 25px;
    background-color: rgb(194, 93, 10);
    display: flex;
    flex-direction: row    
}
.row4{
    width: 100%;
    height: 70px;
    background-color: rgb(64, 74, 109);
    display: flex;
    flex-wrap: wrap;
}