
    /* couleur de fond et couleur du texte */
    body{
        background-color: #fff;
        color: black;
    }
    /* bordures collées */
    table{
    border-collapse: collapse;
    }
    /* Mettre une bordure sur les td ET les th */
    td, th 
    {
    border: 1px solid black;
    }
    caption{
        margin-bottom: 5px;
    }
    .td{
        text-align: center;  
    }