body{
    font-family:Coming Soon, display, swap;
    background-color: rgb(230, 231, 154);
}
.premier li:nth-child(-n+2){
    color: red;
}
li:last-child{
    color: green;
}
ol > li:first-child{
    color: blue;
}
ol > li:last-child{
    color: gray;
}
p:active{
    color: hotpink;
}