ol{
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
fieldset{
    margin-bottom: 5px;
}
li{
    color: black;
}
.fieldset1, .legend1{
    background-color: #2574A9;
}
.fieldset2, .legend2{
    background-color: #9A13B2;
}
.fieldset3, .legend3{
    background-color: #DB0B5A;
}
