body{
    font-family:Coming Soon, display, swap;
}
.premier li:nth-child(-n+2){
    color: red;
}
.premier li:last-child{
    color: rgb(0, 99, 0);
}
ol > li:first-child{
    color: blue;
}
ol > li:last-child{
    color: rgb(90, 90, 90);
}
p:active{
    color: hotpink;
}