ol{
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
fieldset{
    margin-bottom: 5px;
}
li{
    color: black;
}
.fieldset1, .legend1{
    background-color: rgb(27, 90, 119);
}
.fieldset2, .legend2{
    background-color: rgb(148, 11, 139);
}
.fieldset3, .legend3{
    background-color: rgb(204, 6, 88);
}
